@using System.Security.Principal

<ul class="dropdown-menu masthead_account_menu" role="menu" aria-labelledby="account-menu">
    <li role="presentation">
        @if (User.Identity.IsAuthenticated) {
            <a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a>
        }
        else {
            <a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
        }
    </li>
    <li role="separator" class="divider"></li>
    <li role="presentation">
        <a href="https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade" target="_blank" role="menuitem">@Strings.LinkLabelHelpAndSupport</a>
    </li>
    <li role="presentation">
        <a href="http://feedback.azure.com/forums/321918-azure-iot" target="_blank" role="menuitem">@Strings.LinkLabelHelpGiveFeedback</a>
    </li>
</ul>
