# For more info see https://help.github.com/articles/about-codeowners

# Order is important; the last matching pattern takes the most precedence.

LICENSE             @mregen

.gitattributes      @mregen
.gitignore          @mregen
.travis.yml         @mregen

api-csharp/         @mregen
app/	            @mregen
module/	            @mregen
src/                @mregen
tests/	            @mregen
deploy/             @mregen