.dockerignore
.git
/**/.gitignore
docker-compose.yml
docker-compose.*.yml
/**/*.user
/**/*.user.json
/**/*.nupkg
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
.vscode/**
/**/*.dll
/**/*.so
/**/*.pdb
/**/*.der
/**/*.pfx
/**/*.exe
/_tmpout/**
/TestResults/**
/**/swagger/*.json
/**/packages/**
/**/.env


