**/[b|B]in
**/[o|O]bj
**/packages/**
**/.env
docker-compose.yml
docker-compose.*.yml
**/*.user
**/*.user.json
**/*.nupkg
**/.vs
**/*.log
**/*.err
**/*.sdf
**/*.opendb
**/*.opensdf
**/*.vc.db
.vscode/**
TestResults/**
api/generated/**
api/swagger/**
services/deploy/**
tools/**

