/**/*.user
/**/*.user.json
/**/*.nupkg
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/.vscode/**
/build/**
*.dll
*.so
*.pdb
*.der
*.pfx
*.exe
/src/out
/src/Logs
/_tmpout/**
/TestResults/**
/**/TestResults/**
/**/packages/**
/**/appsettings.*.json
.env
*.crt
*.key
*.user
CodeCoverage
coverage.cobertura.xml

