[submodule "modules/opc-twin"]
	path = modules/opc-twin
	url = https://github.com/Azure/azure-iiot-opc-twin-module.git
[submodule "modules/opc-publisher"]
	path = modules/opc-publisher
	url = https://github.com/Azure/iot-edge-opc-publisher.git
[submodule "services"]
	path = services
	url = https://github.com/Azure/azure-iiot-services.git
[submodule "common"]
	path = common
	url = https://github.com/Azure/azure-iiot-common.git
[submodule "api"]
	path = api
	url = https://github.com/Azure/azure-iiot-services-api.git
[submodule "components/opc-ua"]
	path = components/opc-ua
	url = https://github.com/Azure/azure-iiot-opc-ua.git
[submodule "samples/opc-twin-webui"]
	path = samples/opc-twin-webui
	url = https://github.com/Azure/azure-iiot-opc-twin-webui.git
