/**/*.user
/**/*.user.json
/**/project.lock.json
/**/obj/**
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/.vscode/**
/build/**
*.dll
*.so
*.pdb
/src/GatewayApp.NetCore/Logs
*.der
*.exe
/src/out
