/**/*.user
/**/*.cache
/**/*.user.json
/**/*.nupkg
/**/obj/**
/**/.vs
/**/bin/**
/**/pki/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.rsa
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/.vscode/**
/build/**
*.sarif
*.dll
*.so
*.pdb
*.der
*.pfx
*.exe
/src/out
/src/Logs
/_tmpout/**
/TestResults/**
/**/TestResults/**
/**/packages/**
/**/appsettings.*.json
.env
*.crt
*.key
*.user
*.cache
CodeCoverage
coverage.cobertura.xml
/api/csharp-api/api/*.yml
/api/csharp-api/api/*.manifest
/api/csharp-api/_site
node_modules
