pr:
  autoCancel: 'true'
  drafts: 'true'
  branches:
    include:
    - '*'
jobs:
- job: OneBranchTrigger
  pool:
    vmImage: 'ubuntu-latest'
  displayName: Trigger Pull Request Build on Governed Pipeline
  variables:
    message: $[ replace(variables['Build.SourceVersionMessage'], ',', '') ]
  steps:
  - task: TriggerBuild@4
    inputs:
      definitionIsInCurrentTeamProject: true
      buildDefinition: 'Industrial-IoT-PullRequest'
      queueBuildForUserThatTriggeredBuild: false
      ignoreSslCertificateErrors: false
      useSameSourceVersion: false
      useCustomSourceVersion: false
      useSameBranch: false
      branchToUse: 'main'
      storeInEnvironmentVariable: true
      authenticationMethod: 'OAuth Token'
      password: $(System.AccessToken)
      enableBuildInQueueCondition: true
      dependentOnSuccessfulBuildCondition: false
      dependentOnFailedBuildCondition: false
      checkbuildsoncurrentbranch: false
      failTaskIfConditionsAreNotFulfilled: false
      buildParameters: 'buildInfo: "$(Build.Repository.Name) $(Build.SourceBranchName) $(message)"'
      templateParameters: 'ref: $(Build.SourceBranch)'
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: |
        $buildId = $(TriggeredBuildIds)
        $buildUrl = "$(System.TeamFoundationCollectionUri)$(System.TeamProject)/_build/results?buildId=$buildId"
        Write-Host "Triggered build $buildUrl ..."
        Write-Host "##vso[build.addbuildtag]Industrial-IoT-PullRequest build $buildId"
        Write-Host "##vso[task.logissue type=warning]$buildUrl"
        Write-Host "##vso[build.updatebuildnumber]$buildId"
  - task: WaitForBuildToFinish@3
    inputs:
      definitionIsInCurrentTeamProject: true
      ignoreSslCertificateErrors: false
      waitForQueuedBuildsToFinishRefreshTime: '60'
      failTaskIfBuildsNotSuccessful: true
      cancelBuildsIfAnyFails: false
      treatPartiallySucceededBuildAsSuccessful: false
      downloadBuildArtifacts: true
      clearVariable: true
      authenticationMethod: 'OAuth Token'
      password: $(System.AccessToken)