<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nugetv2" value="https://www.nuget.org/api/v2/" />
    <add key="nugetv2dotnet" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
    <add key="nugetv3" value="https://api.nuget.org/v3/index.json" />
    <add key="aziotsdk" value="https://www.myget.org/F/aziot-device-sdk/api/v3/index.json" />
    <add key="azureiiot" value="https://msazure.pkgs.visualstudio.com/_packaging/azure-iiot/nuget/v3/index.json" />
    <add key="Local" value="./packages" />
  </packageSources>
</configuration>