<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Furly" value="https://www.myget.org/F/furlypublic/api/v3/index.json" />
        <add key="Github" value="https://nuget.pkg.github.com/furlysoft/index.json" />
    </packageSources>
    <disabledPackageSources>
        <clear />
        <add key="Furly" value="true" />
        <add key="Github" value="true" />
    </disabledPackageSources>
</configuration>