<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Core" version="0.1.0" targetFramework="net46" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.SDK" version="0.1.0" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.1.2" targetFramework="net46" />
</packages>