@*------------------------------------------------------------
    Copyright (c) Microsoft Corporation.  All rights reserved.
    Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
------------------------------------------------------------*@

<div>
    <h3>Getting started</h3>
    <ul>
        <li>
            <a href="https://github.com/Azure/Industrial-IoT" target="_blank">Azure Industrial IoT GitHub home page</a>
        </li>
        <li>
            <a href="https://github.com/Azure/Industrial-IoT/tree/main/docs" target="_blank">Azure Industrial IoT Docs</a>
        </li>
        <li>
            <a href="https://github.com/Azure/Industrial-IoT/blob/main/docs/tutorials/tut-discover-assets.md" target="_blank">How to discover your assets with the Engineering Tool</a>
        </li>
        <li>
            <a href="https://github.com/Azure/Industrial-IoT/blob/main/docs/tutorials/tut-publish-data.md" target="_blank">How to publish data from your Assets using the Engineering Tool</a>
        </li>
    </ul>
    <br>
    <h3>Give feedback and report bugs</h3>
    <div>
        <span>Please report any security related issues by following our </span>
        <a href="https://github.com/Azure/Industrial-IoT/blob/main/security.md" target="_blank">Security</a>
        <span>Process.</span>
    </div>
    <div>
        <span>Please enter all other bugs, feature requests, documentation issues, or suggestions as GitHub Issues </span>
        <a href="https://github.com/Azure/Industrial-IoT/issues" target="_blank">here.</a>
    </div>

     <br>
    <button @onclick="Close" class="btn btn-primary">Close</button>
</div>