<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="Account/AzureAD/LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/AzureAD/LogIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
