@*------------------------------------------------------------
    Copyright (c) Microsoft Corporation.  All rights reserved.
    Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
------------------------------------------------------------*@

@using Microsoft.Azure.IIoT.App.Shared
@using Microsoft.Azure.IIoT.App.Pages
@using Microsoft.Azure.IIoT.App
@inherits LayoutComponentBase

<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <WorkbookLink />
        <TSILink />
        <LoginDisplay />
        <Help />
    </div>

    <div class="content px-4">
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <h1>Authentication Failure or expired</h1>
                <p>Please sign in.</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

