@using Microsoft.Azure.IIoT.App.Models
@using Microsoft.Azure.IIoT.App.Common
@using Microsoft.Azure.IIoT.App.Services.SecureData


@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject UICommon CommonHelper
@inject SecureData secureData


<nav class="top-row pl-3 navbar navbar-dark ">
    <a class="navbar-brand" href="">
        Azure IIoT Platform @this.GetType().Assembly.GetReleaseVersion().ToString(3)
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="discoverers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Discovery
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="supervisors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Twin Module
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="applications">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Assets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="endpoints">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Browse
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gateways">
                <span class="oi oi-list" aria-hidden="true"></span> Gateway
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="publishers">
                <span class="oi oi-list" aria-hidden="true"></span> Publisher
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="assetLogin">
                <span class="oi oi-account-login" aria-hidden="true"></span>
                @if (Credential?.Username != null)
                {
                    <span>Asset LogOut</span>
                    <div>Hello, @Credential.Username</div>
                }
                else
                {
                    <span>Asset LogIn</span>
                }
            </NavLink>

        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    public CredentialModel Credential = new CredentialModel();

    /// <summary>
    /// OnAfterRenderAsync
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Credential = await GetSecureItemAsync<CredentialModel>(CommonHelper.CredentialKey);
        StateHasChanged();
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task<T> GetSecureItemAsync<T>(string key)
    {
        var serializedProtectedData = await sessionStorage.GetItemAsync<string>(key);
        return secureData.UnprotectDeserialize<T>(serializedProtectedData);
    }
}
