@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
 ------------------------------------------------------------*@

@using Microsoft.Azure.IIoT.App.Runtime
@using Microsoft.AspNetCore.Components
@using System

@inject NavigationManager NavigationManager
@inject Config Configuration

<AuthorizeView>
    <Authorized>
        @if(!String.IsNullOrEmpty(_workbookLink))
        {
            <a href="@_workbookLink" target="_blank">Go to IIoT Diagnostics</a>
        }
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string _workbookLink { get; set; } = null;


    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        CreateWorkbookLink();
    }

    /// <summary>
    /// Create workbook link
    /// </summary>
    private void CreateWorkbookLink()
    {
        if (!String.IsNullOrEmpty(Configuration.WorkbookId))
        {  
            _workbookLink = "https://portal.azure.com/#@" + Configuration.TenantId +
                "/resource/subscriptions/" + Configuration.SubscriptionId +
                "/resourceGroups/" + Configuration.ResourceGroup +
                "/providers/microsoft.insights/workbooks/" +
                Configuration.WorkbookId + "/workbook";
        }
    }
}

