@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
 ------------------------------------------------------------*@

@page "/drawer"

@using System
@using Microsoft.AspNetCore.Components;

@if (IsOpened) {
    OpenPanel();
    <div class="@_divClass">
        <div class="top-row drawer-top px-4">
            <div class="header ">@HeaderText</div>
        </div>
        <a aria-label="closePanel" href="javascript: void(0)" @onclick="@(() => ClosePanel())" class="@_closeIcon"></a>
        @ChildContent
    </div>
}

@code {

    [Parameter]
    public string HeaderText { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Object ObjectData { get; set; }

    [Parameter]
    public Action CloseDrawer { get; set; }

    [Parameter]
    public bool IsOpened { get; set; }

    private string _divClass { get; set; } = "drawer";
    private string _closeIcon { get; set; } = "oi oi-x closebtn";

    private void OpenPanel()
    {
        _divClass = "drawer drawer-right-open";
        _closeIcon = "oi oi-x closebtn";
    }

    private void ClosePanel()
    {
        _divClass = "drawer drawer-close";
        _closeIcon = string.Empty;
        IsOpened = false;
        CloseDrawer.Invoke();
    }
}
