@*------------------------------------------------------------
     Copyright (c) Microsoft Corporation.  All rights reserved.
     Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
    ------------------------------------------------------------*@

@using Microsoft.Azure.IIoT.App.Services

@inject UICommon CommonHelper
@inject Registry RegistryHelper

<div class="drawer-content list-group">
    <div class="list-group-item text-justify list-group-item-heading">
        <b>Enter configuration parameters and click on apply.</b>
    </div>
    <hr />
    <div class="list-group-item text-left">
    </div>
</div>
