@page "/"
@namespace Microsoft.Azure.IIoT.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microsoft.Azure.IIoT.App</title>
    <base href="~/" />
</head>
<body>
    <link async rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link async href="css/site.min.css" rel="stylesheet" />
    <link async href="css/spinner.min.css" rel="stylesheet" />
    <link async href="~/css/drawer.min.css" rel="stylesheet" />
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script async src="_framework/blazor.server.js"></script>
</body>
</html>
