@page "/"


@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<h1>IIoT Engineering Tool</h1>

@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User == null) 
        {
            NavigationManager.NavigateTo("AzureAD/Account/SignIn", true);
        }
    }
}