@model Microsoft.Azure.IIoT.OpcUa.Services.Vault.App.Models.KeyDetailsApiModel

<h2>View Private Key Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EncodedBase64)
        </dt>

        <dd>
            <kbd>
                @Html.TextAreaFor(model => model.EncodedBase64, 25, 100, htmlAttributes: new { @class = "col-md-10", @readonly = "readonly" })
            </kbd>
        </dd>
    </dl>
</div>

<div>
    <hr />
    <a href="javascript:history.go(-1)">Back</a>
</div>
