<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="Server" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-FRAME-OPTIONS" value="DENY"/>
                <add name="Cache-Control" value="no-cache" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="-1" />                
            </customHeaders>
        </httpProtocol>
        <applicationInitialization>
            <add initializationPage="/Home" />
            <add initializationPage="/Application/Index" />
        </applicationInitialization>
    </system.webServer>
    <system.web>
        <sessionState mode="InProc" cookieless="true" timeout="15" />
        <httpCookies requireSSL="true"/>
        <deployment retail="true" />
    </system.web>
</configuration>

