@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
 ------------------------------------------------------------*@

@page "/errorMessage"

@using Microsoft.AspNetCore.Components;


@if (PageError != null)
{
    <div class="center">Error: @PageError</div>
}
else if (Status != null)
{
    <div class="center">Error: @Status</div>
}


@code {

    [Parameter]
    public string PageError { get; set; }

    [Parameter]
    public string Status { get; set; }
}
