@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
 ------------------------------------------------------------*@

@page "/errorMessage"

@if (PageError != null)
{
    <div class="center">Error: @PageError</div>
}
else if (Status != null)
{
    <div class="center">Error: @Status</div>
}