@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
------------------------------------------------------------*@

@if (Result?.ContinuationToken != null && !IsLoading)
{
    <div class="text-center border-bottom">
        <button class="btn btn-primary" @onclick="@(() => ButtonClicked())">Load more</button>
    </div>
}