<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="Server" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-FRAME-OPTIONS" value="DENY"/>
                <add name="Cache-Control" value="no-cache,no-store" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="-1" />
            </customHeaders>
        </httpProtocol>
        <applicationInitialization>
            <add initializationPage="/v1/Status" />
            <add initializationPage="/index.html" />
        </applicationInitialization>
    </system.webServer>
    <system.web>
        <deployment retail="true" />
    </system.web>
</configuration>

