/**/*.user
/**/*.user.json
/**/*.nupkg
/**/obj/**
/**/*.env
/**/.vs
/**/bin/**
/**/csx/**
/**/ecf/**
/**/*.log
/**/*.err
/**/*.sdf
/**/*.opendb
/**/*.opensdf
/**/*.vc.db
/.vscode/**
/build/**
*.dll
*.so
*.pdb
*.der
*.pfx
*.exe
/src/out
/src/Logs
